    * {
        margin: 0 auto;

    }

    body {
        width: 70vw;
        background-image: url("img/1135887-drawing-black-illustration-glasses-cartoon-memes-computer-wallpaper-vision-care.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0.85;
        font-family: 'Pacifico', cursive;
    }

    #mainInput {
        width: 40vw;
        border-radius: 10px;
        margin: 0;
        height: 25px;
    }

    #mainInput:active {
        border: none;
    }

    #btn-createTask {
        border: 0px;
        border-radius: 10px;
        cursor: cell;
    }

    .noError {
        border: 0px;
        background-color: #3b3944;
        color: #ffffff;
    }

    .errorInput {
        border: 3px solid red;
        background-color: #3b3944;
        color: #ffffff;
    }

    #createElements {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #headerTaskList {
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: #487095;
        border-radius: 10px 10px 0 0;
        font-family: 'Pacifico', cursive;
    }

    .footerTaskListDisplay {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #37958d;
        border-radius: 0 0 10px 10px;
    }

    #bodyTaskList {
        background-color: #778899;
        padding: 10px;
        min-height: 30vw;
        border-radius: 0 0 10px 10px;

    }

    .congratulation {
        display: flex;
        justify-content: center;
        font-family: 'Pacifico', cursive;
    }

    .displayNone {
        display: none;
    }

    .task {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #9b9b9b;
        border-radius: 10px;
        margin-bottom: 5px;
        height: 35px;
        background-color: #303030;
        color: #ffffff;
        font-family: 'Pacifico', cursive;
    }

    .task p {
        width: 80%;
    }

    .helpButtons {
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }
    .helpBtn {
        border-radius: 10px;
    }

    .fold {
        background-color: red;
        text-decoration: line-through;
    }

    .completed {
        background-color: #3cb04b;
        text-decoration: line-through;
    }

    .categories {
        display: flex;
        flex-direction: row;
        margin: 3vw;
        justify-content: center;
    }

    .completedTaskList {
        display: flex;
        flex-direction: column;
        background-color: #778899;
        padding: 10px;
        min-width: 35vw;
        border-radius: 10px;
        min-height: 10vw;
        margin: 1.5vw;
    }

    .foldTaskList {
        display: flex;
        flex-direction: column;
        background-color: #778899;
        padding: 10px;
        min-width: 35vw;
        border-radius: 10px;
        min-height: 10vw;
        margin: 1.5vw;
    }




    #testBtn {
        display: flex;
        margin: 50px auto;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        justify-content: center;
        align-items: center;
        background-color: red;
        color: #1f4778;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #testBtn:hover {
        background-color: #550000;
        color: #ffffff;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 10px 31px 5px rgba(0,0,0,0.36);
        box-shadow: 0px 10px 13px -7px #000000, 5px 10px 31px 5px rgba(0,0,0,0.36);
    }

